/*
1dp
box-shadow: 0 0 2px 0 rgba(@shadow-color,0.14), 0 2px 2px 0 rgba(@shadow-color,0.12), 0 1px 3px 0 rgba(@shadow-color,0.20);

2dp
box-shadow: 0 2px 4px 0 rgba(@shadow-color,0.14), 0 3px 4px 0 rgba(@shadow-color,0.12), 0 1px 5px 0 rgba(@shadow-color,0.20);

4dp
box-shadow: 0 4px 5px 0 rgba(@shadow-color,0.14), 0 1px 10px 0 rgba(@shadow-color,0.12), 0 2px 4px 0 rgba(@shadow-color,0.20);

6dp
box-shadow: 0 6px 10px 0 rgba(@shadow-color,0.14), 0 1px 18px 0 rgba(@shadow-color,0.12), 0 3px 5px 0 rgba(@shadow-color,0.20);

8dp
box-shadow: 0 8px 10px 1px rgba(@shadow-color,0.14), 0 3px 14px 3px rgba(@shadow-color,0.12), 0 4px 5px 0 rgba(@shadow-color,0.20);

16dp
box-shadow: 0 16px 24px 2px rgba(@shadow-color,0.14), 0 6px 30px 5px rgba(@shadow-color,0.12), 0 8px 10px 0 rgba(@shadow-color,0.20);
*/

@shadow-color: 99, 79, 116; //117, 81, 184;
@background-color: white;

.insert-svg(@url) {
  content: "";
  position: absolute;
  top: 1px;
  left: -30px;
  width: 30px;
  height: 30px;
  background-image: url("@{url}");
  background-size: cover;
  opacity: 0.6;
}

/*************
General Styles
**************/
html {
  height: 100%;
  background-image: url(../img/media/background.png);
  background-size: 2%;
}


body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  color: gray;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 75em;
  min-width: 45em;
}

content {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

input {
  border: 1px solid #bdbdbd;
  padding: 5px;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

select {
  border: 1px solid #bdbdbd;
  padding: 5px;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: 5px;
}

select:last-child {
  margin-bottom: 0;
}

.error-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.5px);
  user-select: none;
  display: none;
  justify-content: center;
  align-items: center;
}

.error {
  box-shadow: 0 2px 4px 0 rgba(255, 70, 70, 0.14),
    0 3px 4px 0 rgba(255, 70, 70, 0.12), 0 1px 5px 0 rgba(255, 70, 70, 0.2),
    inset 0 0 1px 0 rgba(255, 50, 50, 0.25);
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.error .enter {
  display: none;
  transition: all 0.2s ease;
  text-decoration: none;
  color: #808080;
  border-bottom: 1px solid #bdbdbd;
}

.error .enter:hover {
  transition: all 0.2s ease;
  color: #464646;
  border-color: #464646;
}

.hint {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(@shadow-color, 0.14),
    0 3px 4px 0 rgba(@shadow-color, 0.12), 0 1px 5px 0 rgba(@shadow-color, 0.2);
  border-radius: 5px;
  position: absolute;
  padding: 5px;
  z-index: 1;
  color: #808080;
  visibility: hidden;
  opacity: 0;
  width: 212px;
}

.hide {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  user-select: none;
}

.hide .st1 {
  transition: stroke 0.2s ease;
  stroke: #e5e5e5;
  stroke-width: 4px;
  stroke-linecap: round;
}

.hide:hover .st1 {
  transition: stroke 0.2s ease;
  stroke-width: 6px;
  stroke: rgb(255, 128, 128);
}

.to-cart {
  user-select: none;
  cursor: pointer;
  position: relative;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hint {
  from {
    opacity: 0;
    visibility: hidden;
  }

  25% {
    opacity: 1;
    visibility: visible;
  }

  75% {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10%;
  height: 20%;
  margin: auto;

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #e5e5e5;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) 3;
    border-color: #e5e5e5 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.standard-form {
  div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  div:hover {
    background-color: #f2f2f2;
  }

  div:last-child:hover {
    background-color: transparent;
  }

  input[type="button"],
  input[type="submit"] {
    border: 0;
    background-color: white;
    padding: 10px;
    border: 1px solid #bdbdbd;
  }

  input[type="button"]:hover,
  input[type="submit"]:hover {
    background-color: #f6f6f6;
  }

  input[type="button"]:active,
  input[type="submit"]:active {
    background-color: #eaeaea;
  }

  input:invalid {
    box-shadow: 0 2px 3px 0 #ff9999;
  }
}

/************
Header styles
*************/

header {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 35px;
  box-shadow: 0 0 2px 0 rgba(@shadow-color, 0.14),
    0 2px 2px 0 rgba(@shadow-color, 0.12), 0 1px 3px 0 rgba(@shadow-color, 0.2);
  margin-bottom: 20px;
  background-color: @background-color;
  min-width: 100%;
}

header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  a {
    padding: 5px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 18px;
  }

  .button-about {
    position: relative;
    margin-left: 70px;
  }

  .button-about img {
    transition: transform 0.2s ease;
  }

  .button-about img:hover {
    transition: transform 0.2s ease;
    transform: scale(110%);
    transition-delay: 100ms;
  }

  .button-about img:active {
    transition: transform 0.1s ease;
    transform: scale(100%);
  }

  .company-logo {
    position: absolute;
    top: -20px;
    left: -80px;
    width: 70px;
  }

  .auth-buttons {
    display: flex;
    justify-content: space-between;
  }

  .auth {
    margin-right: 50px;
  }

  .auth:last-child {
    margin-right: 0;
  }

  .button-login {
    position: relative;
  }

  .button-register {
    position: relative;
  }

  .menu-button {
    transition: color 0.3s ease;
    color: gray;
  }

  .menu-button:hover {
    transition: color 0.1s ease;
    color: #464646;
  }

  .auth {
    transition: border 0.1s linear;
    border-bottom: 0 solid;
  }

  .auth:hover {
    transition: border 0.1s linear;
    border-bottom: 3px solid;
  }

  .button-cart {
    position: relative;
    margin-right: 40px;
  }

  .button-cart::before {
    .insert-svg("../img/shopping_cart_FILL0_wght400_GRAD0_opsz48.svg");
  }

  .button-register::before {
    .insert-svg("../img/key_FILL0_wght400_GRAD0_opsz48.svg");
  }

  .button-login::before {
    .insert-svg("../img/login_FILL0_wght400_GRAD0_opsz48.svg");
  }
}

/************************
Auth/register form styles
*************************/

.auth-box {
  animation: reveal 0.5s ease;
  border-radius: 5px;
  width: 450px;
  box-shadow: 0 4px 5px 0 rgba(@shadow-color, 0.14),
    0 1px 10px 0 rgba(@shadow-color, 0.12), 0 2px 4px 0 rgba(@shadow-color, 0.2);
  padding-bottom: 10px;
  background-color: @background-color;
  margin: auto;

  .title {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .form-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }

  .error {
    background-color: #ffdddd;
  }

  @keyframes show-error {
    from {
      visibility: hidden;
      opacity: 0;
      transform: translateX(30px);
    }

    to {
      visibility: visible;
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .error-message {
    visibility: hidden;
    color: #ff6e6e;
    margin: 0;
    opacity: 0;
  }

  .show {
    animation: show-error 0.3s ease;
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

/*************
Catalog Styles
**************/

.catalog {
  animation: reveal 0.5s ease;
  .catalog-menu {
    box-shadow: 0 2px 4px 0 rgba(@shadow-color, 0.14),
      0 3px 4px 0 rgba(@shadow-color, 0.12),
      0 1px 5px 0 rgba(@shadow-color, 0.2);
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    min-width: 190px;
    max-width: 190px;
    height:fit-content;
    background-color: @background-color;
  }

  .catalog-menu select {
    width: 170px;
  }

  .catalog-item a {
    transition: all 0.2s ease;
    background-color: white;
    padding: 5px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-decoration: none;
    color: #808080;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 15px;
    white-space: nowrap;
  }

  .catalog-item .cart {
    width: 25px;
    height: 25px;
    background-image: url(../img/shopping_cart_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: cover;
    position: absolute;
    top: 15%;
    left: 31%;
  }

  .catalog-item .item-page:hover {
    background-color: #eeeeee;
  }

  .catalog-item .to-cart:hover {
    color: #eeeeee;
  }

  .catalog-item a:active {
    color: #808080;
    background-color: #e5e5e5;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }

  .catalog-item .cart {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .catalog-item a:hover .cart {
    transition: opacity 0.6s ease;
    opacity: 1;
  }

  .button {
    transition: all 0.2s ease;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: white;
  }

  .button:hover {
    transition: all 0.2s ease;
    background-color: #eeeeee;
  }

  .button:active {
    transition: all 0.1s ease;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #e5e5e5;
  }

  .container {
    display: flex;
    justify-content: flex-start;
  }

  .container > div p {
    margin: 0;
    color: gray;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .enter {
    color: #808080;
    border: 1px solid #bdbdbd;
    padding: 5px;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    width: 100%;
  }

  .catalog-item {
    background-color: @background-color;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 299px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(@shadow-color, 0.14),
      0 3px 4px 0 rgba(@shadow-color, 0.12),
      0 1px 5px 0 rgba(@shadow-color, 0.2);

    input[type="button"] {
      width: fit-content;
      border-radius: 5px;
      padding: 10px;
    }

    .item-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .item-name {
      display: flex;
      justify-content: space-between;
    }

    .item-name span:first-child {
      width: 155px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .item-picture {
      display: flex;
      justify-content: center;
      min-height: 170px;
    }

    .item-bottom {
      margin-top: 2px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    img {
      width: 200px;
      object-fit: contain;
    }
  }
}

/*******************
Location page Styles
********************/

.location-page {
  animation: reveal 0.5s ease;
  @keyframes map-reveal {
    from {
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .map {
    box-shadow: 0 4px 5px 0 rgba(@shadow-color, 0.14),
      0 1px 10px 0 rgba(@shadow-color, 0.12),
      0 2px 4px 0 rgba(@shadow-color, 0.2);
    border-radius: 5px;
    background-color: @background-color;
  }

  .map iframe {
    animation: map-reveal 3s ease;
    border-radius: 5px;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
  }

  .contacts p {
    white-space: nowrap;
    margin: 0;
    line-height: 30px;
  }

  .contacts > div {
    box-shadow: 0 2px 4px 0 rgba(@shadow-color, 0.14),
      0 3px 4px 0 rgba(@shadow-color, 0.12),
      0 1px 5px 0 rgba(@shadow-color, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    margin-left: 10px;
    height: 60px;
    background-color: @background-color;
  }

  .contact-title {
    font-size: large;
  }

  .contacts > div:first-child {
    margin-left: 0;
  }
}

/****************
About page Styles
*****************/

/*******
    Quiz
  ********/

.quiz-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.5px);
  z-index: 1;
  visibility: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  background-color: @background-color;
  box-shadow: 0 6px 10px 0 rgba(@shadow-color, 0.14),
    0 1px 18px 0 rgba(@shadow-color, 0.12), 0 3px 5px 0 rgba(@shadow-color, 0.2);
  z-index: 2;
  position: relative;
  padding: 20px;
  visibility: inherit;
  margin-top: auto;
  margin-bottom: auto;
}

.quiz-result {
  width: 300px;
  height: 80px;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  background-color: @background-color;
  box-shadow: 0 6px 10px 0 rgba(@shadow-color, 0.14),
    0 1px 18px 0 rgba(@shadow-color, 0.12), 0 3px 5px 0 rgba(@shadow-color, 0.2);
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  visibility: hidden;
}

.quiz-result p:first-child {
  margin: 0;
}

@keyframes showQuiz {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes hideQuiz {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.quiz .standard-form div {
  width: 550px;
}

.quiz .standard-form div div:hover {
  background-color: transparent;
}

.quiz p {
  font-size: 24px;
  margin-top: 0;
}

.about-page {
  animation: reveal 0.5s ease;
  .about {
    box-shadow: 0 4px 5px 0 rgba(@shadow-color, 0.14),
      0 1px 10px 0 rgba(@shadow-color, 0.12),
      0 2px 4px 0 rgba(@shadow-color, 0.2);
    border-radius: 5px;
    padding: 10px;
    height: 250px;
    background-color: @background-color;
  }

  img {
    width: 250px;
    float: left;
    margin-right: 10px;
  }

  .title {
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .about a {
    transition: all 0.2s ease;
    border-bottom: 2px solid #bdbdbd;
    text-decoration: none;
    color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .about a:hover {
    transition: all 0.2s ease;
    color: #464646;
    border-color: #7a7a7a;
  }

  /*********
    Slider
  **********/

  .slider {
    background-color: @background-color;
    box-shadow: 0 4px 5px 0 rgba(@shadow-color, 0.14),
      0 1px 10px 0 rgba(@shadow-color, 0.12),
      0 2px 4px 0 rgba(@shadow-color, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .slider-content > p {
    font-size: 1.25em;
    line-height: 20px;
  }

  .slider-arrow {
    height: 420px;
    width: 60px;
    margin-top: auto;
  }

  .slider-arrow svg {
    margin-top: 20px;
    width: 60px;
    height: 400px;
    cursor: pointer;
    user-select: none;
  }

  .left svg {
    transform: rotate(180deg);
  }

  .st0 {
    transition: stroke-width 0.2s ease;
    fill: #ffffff;
    stroke: #e5e5e5;
    stroke-width: 15;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .slider-arrow:hover .st0 {
    transition: stroke-width 0.2s ease;
    stroke-width: 25;
  }

  .slider-arrow:active .st0 {
    stroke-width: 10;
  }

  .slider-content {
    overflow: hidden;
  }

  @keyframes shake-left {
    from {
      margin-left: 16px;
    }

    20% {
      margin-left: 25px;
    }

    40% {
      margin-left: 16px;
    }

    70% {
      margin-left: 30px;
    }

    to {
      margin-left: 16px;
    }
  }

  @keyframes shake-right {
    from {
      margin-left: 16px;
    }

    20% {
      margin-left: 5px;
    }

    40% {
      margin-left: 16px;
    }

    70% {
      margin-left: 0px;
    }

    to {
      margin-left: 16px;
    }
  }

  .shake-left {
    animation: shake-left 0.8s ease;
  }

  .shake-right {
    animation: shake-right 0.8s ease;
  }

  .slider-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: left 0.2s ease;
    left: 0px;
  }

  .catalog-item {
    box-sizing: border-box;
    background-color: white;
    border: 5px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    min-width: 828px;
    max-width: 828px;
    margin-left: 16px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    img {
      width: 400px;
      margin-left: -20px;
    }

    .item-left {
      width: 350px;
    }

    .item-left p {
      word-break: break-word;
    }

    a {
      transition: all 0.2s ease;
      background-color: white;
      padding: 10px;
      text-align: center;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      text-decoration: none;
      color: #808080;
      box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
      position: relative;
      font-size: 15px;
      white-space: nowrap;
    }

    a:hover {
      background-color: #eeeeee;
    }

    a:active {
      color: #808080;
      background-color: #e5e5e5;
      box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

/**********************
  Product page Styles
***********************/

.product {
  animation: reveal 0.5s ease;
  .product-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(@shadow-color, 0.14),
      0 1px 18px 0 rgba(@shadow-color, 0.12),
      0 3px 5px 0 rgba(@shadow-color, 0.2);
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
  }

  .product-card img {
    width: 500px;
  }

  .product-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    transition: all 0.2s ease;
    background-color: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-decoration: none;
    color: #808080;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 15px;
    white-space: wrap;
  }

  a:hover {
    background-color: #eeeeee;
  }

  a:active {
    color: #808080;
    background-color: #e5e5e5;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }
}

/*****************
Cart page Styles
******************/

.cart-page {
  .cart-item {
    background-color: @background-color;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(@shadow-color, 0.14),
      0 1px 18px 0 rgba(@shadow-color, 0.12),
      0 3px 5px 0 rgba(@shadow-color, 0.2);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .hide {
    position: relative;
    width: 25px;
    height: 25px;
    top: 6px;
    left: 0;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
  }

  .name {
    width: 350px;
  }

  .cost {
    margin-left: auto;
  }

  .date {
    margin-left: auto;
  }

  .qnt input {
    width: 40px;
  }

  .hide:active .st1 {
    stroke-width: 10px;
    stroke: #808080;
  }

  input[type="button"] {
    transition: all 0.2s ease;
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-decoration: none;
    color: #808080;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 15px;
    white-space: wrap;
  }

  input[type="button"]:hover {
    background-color: #eeeeee;
  }

  input[type="button"]:active {
    color: #808080;
    background-color: #e5e5e5;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }

  .cart-menu {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }

  .cart-menu button {
    border: 0;
    border-radius: 5px;
    color: #808080;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 rgba(@shadow-color, 0.14),
      0 3px 4px 0 rgba(@shadow-color, 0.12),
      0 1px 5px 0 rgba(@shadow-color, 0.2);
    background-color: @background-color;
    padding: 5px;
    cursor: pointer;
  }

  .cart-menu button:hover {
    background-color: #f7f7f7;
  }

  @keyframes delete {
    from {
      transform: translateX(0);
    }

    50% {
      transform: translateX(50px);
      opacity: 1;
    }

    55% {
      opacity: 1;
    }

    to {
      transform: translateX(-1100px);
      opacity: 0;
    }
  }

  @keyframes accept {
    from {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-50px);
      opacity: 1;
    }

    55% {
      opacity: 1;
    }

    to {
      transform: translateX(1100px);
      opacity: 0;
    }
  }
}

.password-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.password-check {
  box-shadow: 0 2px 4px 0 rgba(@shadow-color, 0.14),
  0 3px 4px 0 rgba(@shadow-color, 0.12),
  0 1px 5px 0 rgba(@shadow-color, 0.2);
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  background-color: white;
}

.password-check input[type='password'] {
  width: 100px;
}

.password-check div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/*****************
Test Colors Styles
******************/

section {
  width: 450px;
}

.colors-test {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgb(255, 250, 244);

  p {
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
      0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }

  h1 {
    color: gray;
  }
}

/*****************
Footer Styles
******************/

footer {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 50px;
  box-shadow: 0 0 2px 0 rgba(@shadow-color, 0.14),
    0 -2px 2px 0 rgba(@shadow-color, 0.12), 0 -1px 3px 0 rgba(@shadow-color, 0.2);
  margin-top: 20px;
  background-color: @background-color;
}
